<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>{{message}}</p>
    <form method="POST" action="/login">
        <label for="emailInput">Email</label>
        <input type="text" id="emailInput" name="email" required=true>
        <label for="passInput">Password</label>
        <input type="password" id="passInput" name="password" required=true>
        <button type="submit">Submit</button>
    </form>
    <a href='/google'>Login Via Google</a>
</body>

</html>