<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
    <style>
        ul {
            text-decoration: none;
        }
    </style>
</head>

<body>

    {{#videos}}
    <video src="{{path}}" width="700" height="400" controls></video>
    {{/videos}}
</body>

</html>