<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        input {
            margin: 8px;
            padding: 4px;
            width: 20%;
        }

        button {
            border: 2px solid black;
            width: 20%;
            padding: 8px;
            margin-top: 4px;
        }

        a {
            padding: 8px;
            border: 2px solid black;
            text-decoration: none;
            color: black;
        }

        a:hover {
            color: blueviolet;
        }
    </style>
</head>

<body>
    <p>{{message}}</p>
    <a href="./login">login</a>
    <a href="./register">Register</a>
    <a href="./viewall">View All Records</a>
    <a href="./upload-avatar">Upload Image</a>
</body>

</html>