<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button,
        input,
        a {
            padding: 8px;
            border: 2px solid black;
            text-decoration: none;
            color: black;
        }
    </style>
</head>

<body>
    {{message}}
    <form method="POST" action="./upload-avatar" enctype="multipart/form-data">
        <input type="file" id="imageInput" name="avatar" required=true />
        <button type="submit">Upload</button>
    </form>

    <form method="POST" action="./get-avatar" enctype="multipart/form-data">

        <button type="submit">Get Avatar</button>
        <a href="/">Home</a>
    </form>
</body>

</html>